# Ignore images folder
images/

# Ignore labels folder
labels/

# Ignore laboro_tomato folder
laboro_tomato/

# Ignore testing_images folder
testing_images/

# Ignore cache files
*.cache

# Ignore Python cache files
*.pyc

# Ignore __pycache__ directories
__pycache__/

*.yolov5