# Ignore everything in the yolov5 folder
yolov5/


# Ignore images folder
images/

# Ignore labels folder
labels/

# Ignore laboro_tomato folder
laboro_tomato/

# Ignore testing_images folder
testing_images/
