# # Ignore everything in the yolov5 folder
# yolov5/*

# # Except the runs folder within yolov5
# !yolov5/runs/

# Ignore images folder
images/

# Ignore labels folder
labels/

# Ignore laboro_tomato folder
laboro_tomato/

# Ignore testing_images folder
testing_images/
